[client]
port                = 3306
socket              = /tmp/mysqld.sock
 
[mysqld_safe]
socket              = /tmp/mysqld.sock
nice                = 0
 
 
[isamchk]
key_buffer          = 16M
 
!includedir /etc/mysql/conf.d/