---
latency-wait: 5
keep-remote: true
use-conda: true
conda-frontend: conda
conda-prefix: "/fsx/resources/environments/conda/USER_REGSUB/HOSTNAME"
force-use-threads: true
restart-times: 0  
cores: 8
scheduler: greedy
jobs: 1
restart-times: 0
max-jobs-per-second: 5
max-status-checks-per-second: 10
stats: "day_stats.json"
use-singularity: true
singularity-args: " -B $PWD/config:$PWD/config -B ./bin:$PWD/bin  -B $PWD/results:$PWD/results -B /fsx:/fsx -B /tmp:/tmp -B resources/fsx:/fsx  -B $PWD/:$PWD  -B /fsx/scratch:/fsx/scratch -B /dev/fd:/dev/fd "
singularity-prefix: "/fsx/resources/environments/containers/USER_REGSUB/HOSTNAME"

 
