---
ephemeral_cluster:
  config:
    delete_local_root: true # or false
    budget_email: ENTEREMAIL # any single valid email
    allowed_budget_users: ubuntu # or other username or csv of usernames
    budget_amount: 200 # or other int
    enforce_budget: skip # or enforce
    auto_delete_fsx: Delete # or Retain
    fsx_fs_size: 7200 # 4800 or 7200 or other valid FSX fs sizes
    enable_detailed_monitoring: false # or true
    cluster_template_yaml: config/day_cluster/prod_cluster.yaml
    spot_instance_allocation_strategy: lowest-price #price-capacity-optimized # lowest-price, price-capacity-optimized,capacity-optimized - lowest price can be very interrrupt'y
    max_count_8I: 1 # max number of spots of this cpu size to request
    max_count_128I: 12 # max number of spots of this cpu size to request
    max_count_192I: 16 # max number of spots of this cpu size to request
    headnode_instance_type: r7i.2xlarge # r7i.2xlarge(tested with this) r7i.4xlarge r7i.8xlarge r7i.16xlarge
