.custom_logo {
    width: 50px;        /* Set the width of the logo */
    height: 50px;        /* Maintain aspect ratio */
    margin: 10px auto;   /* Center the logo and add spacing */
  }

  #page_title img {
    max-width: 75px;
  }

  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


  body {
    font-family: "IBM Plex Mono", monospace;
    font-size: 11px; /* Larger chart titles */
  }

  .highcharts-title {
    font-family: "IBM Plex Mono", monospace;
    font-size: 17px; /* Larger chart titles */
  }

  .highcharts-axis-title {
    font-size: 14px; /* Axis title font size */
  }

  .highcharts-axis-labels {
    font-size: 12px; /* Smaller axis labels for readability */
  }